* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header, section {
    padding: 20px;
}

p, h1, h2{
    margin-bottom: 10px;
    text-align: justify;
}


h1, h2{
    margin-bottom: 20px;
}

.flex-content{
    background-color: #a8a8a8;
    display: flex; 
    flex-flow: column nowrap;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text-media {
    display: flex;
    flex-flow: row wrap;
}

div.text{
    flex: 1 1 500px;
}

div.media {
    flex: 1 0 400px;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 300px;
}

iframe {
    display: block;
    margin: auto;
    width: 90%;
}