* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header, section {
    padding: 20px;
}

p, h1, h2{
    margin-bottom: 10px;
    text-align: justify;
}

.flex-content{
    background-color: #c8c8c8;
}

