@font-face {
    font-family: 'bebas';
    src: url('fontes/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'font1';
    src: url(fontes/idroid.otf);
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;
}

#textoprincipal{
    text-align: center;
    font-family: 'bebas';
    color: white;
}

#p1{
    text-align: center;
    font-size: 1em;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.a1{
    margin: 10px;
    text-decoration: none;
    color: #C4D4CA;
    padding: 5px;
}

.a1:hover{
    background-color: #C4D4CA;
    color: #83ae93;
    border-radius: 5px;
}

header{
    background-image: linear-gradient(0deg, #1A5C38, #3CD782);
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.285);
}

main{
    
    margin-left: 20px;
    margin-right: 20px;
}

section{
    background-color: #84E1AD;
   
}

#art1{
    background-color: white;
    padding: 20px;
    margin: auto;
}

#video{
    background-color: #1A5C38;
    margin: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
iframe{
    width: 500px;
    height: 300px;
    padding: 20px;
    
}

#art{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    padding: 0px;
}

.text1{
    font-family: 'font1', sans-serif;
    color: #1A5C38;
    background-color: #82deaa4a;
}



#texth3{
    background-color: #3CD782;
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div > h3{
    margin: 0px;
}

#quaserodape{
    padding: 0px 20px 5px 20px;
}

#rodape{
    margin: 0px;
    text-align: center;
    padding: 5px;
}

footer{
    background-color: #1A5C38;
    margin: 0px;
}

.para{
    text-align: justify;
}

.a2{
    text-decoration: none;
    color: #3CD782;
}

li{
    text-decoration: underline;
}