@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    margin: 0px;
    font-family: "Sriracha", cursive;
}

header {
    background-color: black;
    margin: 0px;
    height: 140px;
    padding: 30px;
}

header > h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin-bottom: 0px;
}

header > p{
    color: white;
    text-align: center;
    margin-top: 0px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#primeirosection {
    min-height: 300px;
}

#primeirosection > article{
    margin: 50px 30px
}

#secundosec {
    background-image: url("../imagens/background001.jpg");
    background-size: cover;
    height: 600px;
    background-attachment: fixed;

}

#secundosec > article{
    background-color: rgba(0, 0, 0, 0.282);
    margin-left: 30px; 
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 10%;
}

#secundosec  p{
    color: white;
    margin: 0px;
}