body{
            font-family: arial;
            background-color: aqua;
        }
        h1{
            text-align: center;
            background-color: rgb(218, 39, 39);
        }
        p{
            text-align: justify;
        }